.img-info{
    width: 210px;
    /* margin-left: 40px; */
    margin-right: 5px;
}

.right-info{
    /* width: 150px; */
    /* margin-left: 5px;
    margin-right: 5px; */
    padding-top: 21px;
    /* text-align: center; */
}



.img-touxiang{
    width: 200px;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.info-stunt-name{
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.info-stuntDescription{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.info-item{
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}
.info-item label{
    font-size: 14px;
    padding: 0px 20px 0px 50px;
}

.hero-info-view{
    display: flex;
}

.introduction-info{
    width: 620px;
    margin-top: 10px;
    font-size: 14px;
    /* margin-left: 40px; */
}

.btn-view{
    /* margin-left: 40px; */
    margin-top: 20px;
}

.goBack-button{
    width: 120px;
    height: 30px;
}

.edit-name{
    margin: 0px 0px 10px 0px;
}

.wuwei-info{
    width: 270px;
    height: 260px;
    margin-left: 5px;
    margin-right: 5px;
}

h2{
    margin: 16px 0px 16px 15px;
}