/* DashboardComponent's private CSS styles */
.item-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 0px;
    
}

h2{
  text-align: center;
}

.col-1-4 {
  width: 180px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.img-touxiang{
  display: block;
  width: 100%;
}

h4 {
  margin: 0px;
  line-height: 30px;
  text-align: center;
  color: #eee;
  background-color: #00000050;
  width: 100%;
  height: 30px;
  font-size: 16px;
}

/* .say-item{
  display: none;
  position: absolute;
  background-color: #b8b5b5;
  z-index: 999;
  width: 100%;
  height: 30px;
  top: 150px;
  border: 1px solid blue;
  border-radius: 8px;
} */

.say-item p{
  color: rgb(253, 251, 251);
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  display: inline;
  padding-left: 5px;
}

.col-1-4:hover {
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 1px;
}

.col-1-4:hover h4{
  color: rgb(27, 26, 26);
  background-color: #b3acac50;
}

.col-1-4:hover .say-item{
  display:block;
}

.say-item{
  display: none;
  position: absolute;
  z-index: 999;
  width: 180px;
  height: 30px;
  background: rgb(160, 161, 160);
  border-radius: 8px;
  top: -31px;
}
.say-item:after{
  content: "";
  position: absolute;
  border-style: solid;
  border-color: rgb(160, 161, 160) transparent transparent;
  border-width: 10px;
  bottom: -20px;
  right:40px;
}


  
